<!-- <div >
<ng-template #loader>
  <mat-spinner class="loader"></mat-spinner>
</ng-template>
</div> -->
<div *ngIf="loader" class="my-display mydisplaynow loader">
  <img src="../assets/images/ring.gif"/>
</div>
<div *ngIf="globalCases">
  India<mat-slide-toggle [(ngModel)]="isChecked" >
    Global
  </mat-slide-toggle>



  <!-- India data -->
  <div>
    <ng-template #india>

      <h3>India Status</h3>
      <div>

        <table>
          <tr>
            <th>Total Confirmed</th>
            <th>Currently Active</th>
            <th>Total Deaths</th>
            <th>Total Recovered</th>
          </tr>
             <tr style="background-color: #ffffff;">
              <td>{{TotalConfirmedIn}}</td>
              <td>{{ActiveCasesIn}}</td>
              <td>{{TotalDeathsIn}}</td>
              <td>{{TotalRecoveredIn}}</td>
             </tr>
          </table>
        <!-- Total Cases: {{TotalConfirmedIn}} <br>
        Currently Active: {{ActiveCasesIn}} <br>
        TotalDeaths: {{TotalDeathsIn}}<br>
        TotalRecovered: {{TotalRecoveredIn}} -->
      </div>


      <!-- Search -->
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Search by state" [(ngModel)]=searchByState name="search" >
        <button mat-button *ngIf="searchByState" matSuffix mat-icon-button aria-label="Clear" >
            <mat-icon (click)="reseting()" >close</mat-icon>
        </button>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceIndia | search: searchByState"  matSort>

          <!-- State Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef style="width: 14% !important;"> State </th>
            <td mat-cell *matCellDef="let element">

         <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 14% !important;">
                {{element?.state}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let state of states">
              <div *ngIf="element?.state == state">
                <table>
                <tr>
                  <th>district</th>
                  <th>confirmed</th>
                  <th>active</th>
                  <th>deceased</th>
                  <th>recovered</th>
                </tr>
                   <tr *ngFor="let district of districts[state]">
                    <td>{{district}}</td>
                    <td>{{districtWiseData[state]?.districtData[district].confirmed}}</td>
                    <td>{{districtWiseData[state]?.districtData[district].active}}</td>
                    <td>{{districtWiseData[state]?.districtData[district].deceased}}</td>
                    <td>{{districtWiseData[state]?.districtData[district].recovered}}</td>
                   </tr>
                </table>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </td>
      </ng-container>

          <!-- Active Cases -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let element"> {{element?.active}} </td>
          </ng-container>

          <!-- Total Confirmed Column -->
          <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef> Confirmed </th>
            <td mat-cell *matCellDef="let element"> {{element?.confirmed}} </td>
          </ng-container>

          <!-- Total Death Column -->
          <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef> Deceased </th>
            <td mat-cell *matCellDef="let element"> {{element?.deaths}} </td>
          </ng-container>

          <!-- Recovered -->
          <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef>Recovered </th>
            <td mat-cell *matCellDef="let element"> {{element?.recovered}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedIndiaColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedIndiaColumns;"></tr>
        </table>
      </div>
    </ng-template>
  </div>




    <ng-template [ngIf]="isChecked" [ngIfElse]="india">

      <div>
        <h3>Worldwide Status</h3>

        <table>
          <tr>
            <th>Total Confirmed</th>
            <th>Currently Active</th>
            <th>Total Deaths</th>
            <th>Total Recovered</th>
          </tr>
             <tr style="background-color: #ffffff;">
              <td>{{globalCases?.TotalConfirmed}}</td>
              <td>{{globalCases?.TotalConfirmed-globalCases?.TotalDeaths-globalCases?.TotalRecovered}}</td>
              <td>{{globalCases?.TotalDeaths}}</td>
              <td>{{globalCases?.TotalRecovered}}</td>
             </tr>
          </table>
        <!-- TotalConfirmed: {{globalCases?.TotalConfirmed}} <br>
        Currently Active: {{globalCases?.TotalConfirmed-globalCases?.TotalDeaths-globalCases?.TotalRecovered}} <br>
        TotalDeaths: {{globalCases?.TotalDeaths}}<br>
        TotalRecovered: {{globalCases?.TotalRecovered}} -->
      </div>

      <!-- Search -->
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Search by country" [(ngModel)]=searchByCountry name="search" >
      <button mat-button *ngIf="searchByCountry" matSuffix mat-icon-button aria-label="Clear" >
          <mat-icon (click)="reseting()" >close</mat-icon>
      </button>
    </mat-form-field>
      <!-- Countrywise -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource | search:searchByCountry "  matSort>

        <!-- Country Column -->
        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef style="width: 14%;"> Country </th>
          <td mat-cell *matCellDef="let element"> {{element?.Country}} </td>
        </ng-container>

        <ng-container matColumnDef="ActiveCases">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element?.TotalConfirmed-element?.TotalDeaths-element?.TotalRecovered}} </td>
        </ng-container>

        <!-- Confirmed Cases -->
        <ng-container matColumnDef="TotalConfirmed">
          <th mat-header-cell *matHeaderCellDef> Confirmed </th>
          <td mat-cell *matCellDef="let element"> {{element?.TotalConfirmed}} </td>
        </ng-container>

        <!-- Deceased -->
        <ng-container matColumnDef="TotalDeaths">
          <th mat-header-cell *matHeaderCellDef> Deceased </th>
          <td mat-cell *matCellDef="let element"> {{element?.TotalDeaths}} </td>
        </ng-container>

        <!-- Recovered -->
        <ng-container matColumnDef="TotalRecovered">
          <th mat-header-cell *matHeaderCellDef> Recovered </th>
          <td mat-cell *matCellDef="let element"> {{element?.TotalRecovered}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    </ng-template>


</div>
  <mat-paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions"  showFirstLastButtons></mat-paginator>

